:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #f1f1f1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    place-items: center;
    justify-content: left;
    min-height: 7vh;
}

p {
    color: black;
    margin: 0;
}

.info {
    display: flex;
    min-width: 10rem;
    margin: 0;
    padding: 0 10px;
    flex-direction: column;
    text-align: center;
    background-color: #cdcdcd;
    border: 2px solid #333333;
    box-sizing: border-box;
}

.info:first-child {
    border-right: none;
}

.label {
    font-size: 1rem;
}

.value {
    font-weight: bold;
    font-size: 1.25rem;
}

#app {
    display: flex;
    height: 77vh;
}

footer {
    display: flex;
}

footer .info {
    padding-top: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    border: 2px solid black;
    line-height: 30px;
    color: black;
    background-color: #eee;
    font-weight: bold;
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn:first-child {
    border-right: none;
}

@media (orientation: portrait) {
    
}